<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- les css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<!-- les scripts -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d3c2ba48a8.js"
	crossorigin="anonymous"></script>

<title>AirBnbLike</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">AirBnbLike</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse pull-right" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/home}">Offres</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/utilisateur.create}">Inscription</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/login}">Connexion</a></li>

					<li sec:authorize="hasAuthority('Locataire')" class="nav-item"><a
						class="nav-link" th:href="@{/locations}">Mes locations </a></li>

					<li sec:authorize="hasAuthority('Loueur')" class="nav-item"><a
						class="nav-link" th:href="@{/logements}">Mes logements<span
							class="badge badge-pill badge-danger"
							th:if="${notifications > 0 }" th:text="${notifications}"></span>
					</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link"
						th:text="${utilisateur.firstName}+' '+${utilisateur.name}">Profil</a></li>
				</ul>
				<form sec:authorize="isAuthenticated()"
					class="form-inline my-2 my-md-0" th:action="@{/logout}">
					<button class="btn btn-primary my-2 my-sm-0" type="submit">Déconnexion</button>
				</form>
			</div>
		</div>
	</nav>


	<div class="container">
		<button sec:authorize="hasAuthority('Loueur')"
			class="btn btn-primary float-right mt-2 mb-2" data-toggle="modal"
			data-target="#exampleModal">
			<i class="fa fa-plus"></i>Ajouter un logement
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nouveau
							logement</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form action="#" th:action="@{/logement.store}"
							th:object="${logement}" method="POST">
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="nbPieces">Type logement</label><select name="type"
										class="custom-select" for="type" required>
										<option value="0" selected></option>
										<option
											th:each="typeLogement : ${T(mg.airbnb.model.TypeLogement).values()}"
											th:value="${typeLogement}" th:text="${typeLogement}"></option>
									</select>
								</div>
								<div class="form-group col-sm-6">
									<label for="nbPieces">Nombre de pièces</label> <input
										name="nbPieces" type="number" class="form-control" required />
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="superficie">Superficie</label>
									<div class="input-group mb-3">
										<input name="superficie" type="number" class="form-control"
											required />
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">m²</span>
										</div>
									</div>
								</div>
								<div class="form-group col-sm-6">
									<label for="prix">Prix</label>
									<div class="input-group mb-3">
										<input name="prix" type="number" class="form-control" required />
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">€</span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="nbLocataire">Nombre locataire</label> <input
										name="nbLocataire" type="number" class="form-control" required />
								</div>
								<div class="form-group col-sm-6">
									<label for="adresse">Adresse</label> <input name="adresse"
										type="text" class="form-control" required />
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="ville">Ville</label> <input name="ville"
										type="text" class="form-control" required />
								</div>
								<div class="form-group col-sm-6">
									<label for="disponibilite">Début disponibilité</label> <input
										name="disponibilite" type="date" class="form-control" required />
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fermer</button>
						<button id="save-location" type="button" class="btn btn-primary">Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Fin MODAL  -->

		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Type</th>
						<th>Pièces</th>
						<th>Superficie</th>
						<th>Adresse</th>
						<th>Ville</th>
						<th>Prix</th>
						<th>Places</th>
						<th>A partir du</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="logement : ${logements}">
						<tr>
							<td th:text="${logement.type}">...</td>
							<td th:text="${logement.nbPieces}">...</td>
							<td th:text="${logement.superficie} + ' m²'">...</td>
							<td th:text="${logement.adresse}">...</td>
							<td th:text="${logement.ville}">...</td>
							<td th:text="${logement.prix} + ' €'">...</td>
							<td
								th:text="${logement.nbLocataire}>0 ?
								${logement.nbLocataire} : 'Complet'">...</td>
							<td
								th:text="${#dates.format(logement.disponibilite, 'dd MMM yyyy')}">...</td>
							<td class="row">
								<button class="btn btn-primary ml-1 mr-1" type="button"
									data-toggle="modal" data-target="#show-location">
									<i class="fa fa-eye"></i>
								</button> <!-- Modal -->
								<div class="modal fade" id="show-location" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog" style="max-width: 70%"
										role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Locataires</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<table class="table table-striped">
													<thead>
														<tr>
															<th>Prénom</th>
															<th>Nom</th>
															<th>Début de location</th>
															<th>Etat demande</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:each="location : ${logement.locataires}">
															<input type="hidden" name="location_id"
																th:value="${location.id}">
															<tr>
																<td th:text="${location.locataire.firstName}"></td>
																<td th:text="${location.locataire.name}"></td>
																<td
																	th:text="${#dates.format(location.debut, 'dd MMM yyyy')}">...</td>
																<td
																	th:text="${location.valider} ? 'Validée' : 'En attente'">...</td>
																<td class="row">
																	<button name="validate"
																		class="btn btn-primary ml-1 mr-1">
																		<i class="fa fa-check"></i>
																	</button>
																	<button name="cancel" class="btn btn-danger ml-1 mr-1">
																		<i class="fa fa-trash-alt"></i>
																	</button>
																	<button name="signal" class="btn btn-warning ml-1 mr-1">
																		<i class="fa fa-lock"></i>
																	</button>
																</td>
															</tr>
														</th:block>
													</tbody>
												</table>

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Fermer</button>
											</div>
										</div>
									</div>
								</div> <!-- END MODAL -->
								<form class="form-inline my-2 my-md-0"
									th:action="@{/logement} + '.delete/' + ${logement.id}"
									method="POST">
									<button class="btn btn-danger my-2 my-sm-0 ml-1 mr-1"
										type="submit">
										<i class="fa fa-trash-alt"></i>
									</button>
								</form>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>

		</div>

	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">© AirBnbLike 2019</span>
		</div>
	</footer>

</body>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$('#show-location').on('shown.bs.modal', function() {
							var id = $("input[name=location_id]").val();
							$("button[name=cancel]").on("click", function() {
								$.post("/location.delete/" + id, function() {
									location.reload();
								}).done(function() {
									console.log("DONE");
									location.reload();
								}).fail(function() {
									console.log("FAIL");
								});
								location.reload();
							});
							$("button[name=validate]").on("click", function() {
								$.post("/location.validate/" + id, function() {
									location.reload();
								}).done(function() {
									console.log("DONE");
									location.reload();
								}).fail(function() {
									console.log("FAIL");
								});
								location.reload();
							});
							$("button[name=signal]").on("click", function() {
								$.post("/utilisateur.signal/" + id, function() {
									location.reload();
								}).done(function() {
									console.log("DONE");
									location.reload();
								}).fail(function() {
									console.log("FAIL");
								});
								location.reload();
							});
						});
						$('#exampleModal')
								.on(
										'shown.bs.modal',
										function() {
											$('#save-location')
													.on(
															"click",
															function() {
																var type = $(
																		"select[name=type]")
																		.val();
																var nbPieces = $(
																		"input[name=nbPieces]")
																		.val();
																var superficie = $(
																		"input[name=superficie]")
																		.val();
																var prix = $(
																		"input[name=prix]")
																		.val();
																var nbLocataire = $(
																		"input[name=nbLocataire]")
																		.val();
																var adresse = $(
																		"input[name=adresse]")
																		.val();
																var ville = $(
																		"input[name=ville]")
																		.val();
																var date = $(
																		"input[name=disponibilite]")
																		.val();
																var disponibilite = new Date(
																		date);
																$
																		.post(
																				"/logement.store/"
																						+ nbPieces
																						+ "/"
																						+ superficie
																						+ "/"
																						+ adresse
																						+ "/"
																						+ ville
																						+ "/"
																						+ prix
																						+ "/"
																						+ nbLocataire
																						+ "/"
																						+ type
																						+ "/"
																						+ disponibilite
																								.getTime(),
																				function(
																						e) {
																					console
																							.log(e);
																					location
																							.reload();
																				})
																		.done(
																				function(
																						e) {
																					consoel
																							.log(e);
																					location
																							.reload();
																				})
																		.fail(
																				function(
																						e) {
																					console
																							.log(e);
																				});
															});
										})
					});
</script>
</html>
