<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- les css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

<!-- les scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<title>Login</title>
</head>
<body class="content">
	<div class="container">
		<div class="row">

			<!-- zone vide sur la gauche -->
			<div class="col-lg-4 col-md-3 col-sm-1"></div>


			<!-- le contenu -->
			<div class="col-lg-4 col-md-6 col-sm-10">
				<form class="form-login" name='form'
					th:action="@{/check_security}" method='POST'>
					<h3>Se connecter</h3>
					<br />
					<!-- Saisir l'adresse electronique -->
					<input type="email" class="form-control" id="email" name="username"
						placeholder="Adresse electronique" required="true" />

					<!-- Saisir le mot de passe -->
					<input type="password" class="form-control" name="password"
						id="password" placeholder="Mot de passe" required="true" />
					<div>
						<br /> <label> <input type="checkbox" value="souvenir" />
							Se souvenir de moi
						</label>
					</div>

					<!-- bouton de connexion -->
					<br />
					<button type="submit" class="btn btn-lg btn-primary btn-block"
						width="">Se connecter</button>
					<br /> <br />
					<p class="text-muted">© 2019-2020</p>
				</form>
			</div>

			<!-- zone vide sur la droite -->
			<div class="col-lg-4 col-md-3 col-sm-1"></div>
		</div>
	</div>

</body>
</html>